<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="//d3js.org/d3.v4.min.js"></script>
	<!-- diff2html files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.2/diff2html.js"></script>
	

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.2/diff2html.min.css">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/css/coverageTables.css}"/>
</head>

<body>

	<ul>
	    <li><a href="/">Home</a></li>
		<li><a href="/coverageonchanges">Changed Lines Coverage</a></li>
		<li><a href="/deadcode">Related Coverage</a></li>
		<li><a href="/stabletesttimes">Test Times</a></li>
		<li><a href="/flamegraphs">Flame Graphs</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">All Coverage Info</a>
		    <div class="dropdown-content">
				<a href="/stablecoverage">Stable Version Coverage</a>
				<a href="/pullcoverage">Pull Request Coverage</a>
				<a href="/coveragediff">Coverage Diff</a>
			</div>
		</li>
	</ul>

<main role="main" class="container">
	<p id="demo"></p>
	<script th:inline="javascript">
			function getJSON(path) {
    return fetch(path).then(response => response.json());
}

		// load JSON data; then proceed
		getJSON('/api8').then(data => {
		    // assign allQuestions with data
		    var allQuestions = data;  
			console.log(data);
			//document.write(allQuestions);
			//var obj = JSON.parse(data);
			console.log(data.length);
			var test = "<table id='test'><tr><th>Files that weren't altered but had coverage changes:</th></tr>";
			for(var x = 0; x < data.length; x++){
			 	test += "<tr><td><a href=\"" + data[x].link + "\">" + data[x].link + "</a></td></tr>";
			} 
			test += "</table>"
			document.getElementById("demo").innerHTML = test;
		})	
		</script>

	
	<script th:inline="javascript">
	    var diff = [[${str}]];
		var customObjectList = JSON.parse(diff);
		Object.entries(customObjectList).forEach(([key, value]) => {
				test = Diff2Html.getPrettyHtml(value, {
				inputFormat: 'diff',
				showFiles: false,
				matching: "lines",
				outputFormat: "line-by-line"
			});
			  
			document.write(key);
			document.write(test);
		});
		/*for (var i = 0; i < arrayLength; i++) {
			test = Diff2Html.getPrettyHtml(diff[i], {
				inputFormat: 'diff',
				showFiles: false,
				matching: "lines",
				outputFormat: "line-by-line"
			});
			document.write(test);  
		}*/
		//document.write(Diff2Html.getJsonFromDiff('--- whatver/vsdsdv/about.html\n+++ b/about.html\n@@ -19,7 +19,7 @@\n   </div>\n\n   <div id="headerContainer">\n-    <h1>About&lt/h1>\n+    <h1>About This Project&lt/h1>\n   </div>\n\n   <div id="contentContainer">\ndiff --git a/imprint.html b/imprint.html\nindex 1932d95..d34d56a 100644\n--- a/imprint.html\n+++ b/imprint.html\n@@ -19,7 +19,7 @@\n   </div>\n\n   <div id="headerContainer">\n-    <h1>Imprint&lt/h1>\n+    <h1>Imprint / Disclaimer&lt/h1>\n   </div>\n\n   <div id="contentContainer">\n'));
	</script>


</main>
<!-- /.container -->

</body>
</html>