<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="//d3js.org/d3.v4.min.js"></script>

<style>

</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

	<ul>
	    <li><a href="/">Home</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Coverage</a>
		    <div class="dropdown-content">
				<a href="/stablecoverage">Stable Version Coverage</a>
				<a href="/pullcoverage">Pull Request Coverage</a>
				<a href="/coveragediff">Coverage Diff</a>
			</div>
		</li>
		<li><a href="/stabletesttimes">Test Times</a></li>
		<li><a href="/coverageonchanges">Changed Lines Coverage</a></li>
		<li><a href="/flamegraphs">Flame Graphs</a></li>
	</ul>
<div class="starter-template">
	<h1>Flame graph on stable version</h1>
	<iframe src="/api6.svg" frameborder="0" width="1225" height="710"></iframe>
</div>
<!--object type="image/svg+xml" data="/api6.svg" width="1200" height="710"-->

<div class="starter-template">
	<h1>Flame graph on pull request version</h1>
	<iframe src="/api7" frameborder="0" width="1225" height="710"></iframe>
</div>
<!-- /.container -->

</body>
</html>