<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>




</head>

<body>

	<ul>
	    <li><a href="/">Home</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Coverage</a>
		    <div class="dropdown-content">
				<a href="/stablecoverage">Stable Version Coverage</a>
				<a href="/pullcoverage">Pull Request Coverage</a>
				<a href="/coveragediff">Coverage Diff</a>
			</div>
		</li>
		<li><a href="/stabletesttimes">Test Times</a></li>
		<li><a href="/coverageonchanges">Changed Lines Coverage</a></li>
		<li><a href="/flamegraphs">Flame Graphs</a></li>
	</ul>

<main role="main" class="container">



</form>
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'This is a test message'"></span>
        </h2>
    </div>


</main>
<!-- /.container -->
</body>
</html>