<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>




</head>

<body>

	<ul>
	    <li><a href="/">Home</a></li>
		<li><a href="/coverageonchanges">Changed Lines Coverage</a></li>
		<li><a href="/deadcode">Related Coverage</a></li>
		<li><a href="/stabletesttimes">Test Times</a></li>
		<li><a href="/flamegraphs">Flame Graphs</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">All Coverage Info</a>
		    <div class="dropdown-content">
				<a href="/stablecoverage">Stable Version Coverage</a>
				<a href="/pullcoverage">Pull Request Coverage</a>
				<a href="/coveragediff">Coverage Diff</a>
			</div>
		</li>
	</ul>

<main role="main" class="container">



</form>
    <div class="starter-template">
        <h1>Analysis of pull request</h1>
        <h2>
            <span th:text="'Instructions'"></span>
        </h2>
		<h4>
			<span th:text="'Changed Lines Coverage - Displays the lines that were altered in the pull request (same way as GitHub) and whether they are covered by the test suite. Also has direct GitHub links to any other files whose coverage has changed (if any)'"></span>
		</h4>
		<h4>
			<span th:text="'Related Coverage - Displays the coverage information in files that were not altered but had coverage changes (could be empty if no changes are introduced by the pull request)'"></span>
		</h4>
		<h4>
            <span th:text="'Test Times - Displays the test time differences between both versions. Table entries are color coded for easier recognition. Green means improvement, red means the test was slower, yellow means no significant change.'"></span>
        </h4>	
		<h4>
			<span th:text="'Flame Graphs - Displays flame graphs representing the execution profile of the tests of both versions'"></span>
		</h4>
		<h4>
            <span th:text="'All Coverage Info - Displays a tree containing the coverage of both versions and differences'"></span>
		</h4>
    </div>
			 


</main>
<!-- /.container -->
</body>
</html>